
#login-1{
  border-radius: 1rem;
}

/* .gradient-custom {
  background: #6a11cb;
  
  background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
  
  background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
  } */

#login-img{
  height: 200px;
}
#login-form{
    /* background: linear-gradient(to right, #AB9551 100% #FFFCFC 100% #AB9551 33%); */
      background: linear-gradient(to bottom,   #FFFCFC,  #AB9551);
     color: black;
     border-radius: 1rem;

  }
  #login-login{
    color: #110942;
  }
  .btn-outline-light:hover, .btn-outline-light:focus {
    color: white;        /* Keeps the text color the same */
    background-color: transparent;  /* Keeps the background the same */
    border-color: inherit; /* Keeps the border the same */
    box-shadow: none;      /* Removes any applied shadows */
}
.nav-link{
  color: black;
  font-size: 2px;
}
.nav-navbar{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: #fff;
}
/* .App{
  padding-left: 90px;
}
   */