.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff; 
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: #fff;
}

/* .logo-container { */
    /* padding-left: 20px;  */
    /* height: 130px; */

/* } */

.logo {
    height: 100px; 
    width: 180px;
    margin-left: 20px;
    padding: 10px;
    /* margin-bottom: 300px; */
    /* margin-top: 0; */

}

.nav-links {
    list-style-type: none;
    margin: 0;
    padding-right: 30px; 
    display: flex;
    align-items: center;
    /* margin-top: 50px; */
}

.nav-item {
    margin-left: 20px; 
}

.nav-link {
    text-decoration: none; 
    color: black; 
    font-size: 20px;
    font-weight: 500; 
}

.nav-link:hover {
    color: #0e0737; 
}
.login-button {
    background-color: #110942;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    /* cursor: pointer; */
    transition: background-color 0.3s;
    width: 150px;
}

.login-button:hover {
    background-color: #0e0737;
}
